.container-preloader {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 900;
}

.container-preloader .loader-section {
	background-color: #0c0a0a;
	height: 100%;
	position: fixed;
	top: 0;
	width: calc(50% + 1px);
}
.container-preloader .loader-section.section-left {
	left: 0;
}
.container-preloader .loader-section.section-right {
	right: 0;
}

.container-preloader .animation-preloader {
	position: absolute;
	z-index: 100;
}

.loaded .animation-preloader {
	opacity: 0;
	transition: 0.3s ease-out;
}
/* Curtain effect */
.loaded .loader-section.section-left {
	transform: translateX(-101%);
	transition: 0.7s 0.3s all cubic-bezier(0.1, 0.1, 0.1, 1);
}
.loaded .loader-section.section-right {
	transform: translateX(101%);
	transition: 0.7s 0.3s all cubic-bezier(0.1, 0.1, 0.1, 1);
}

#teabag {
	transform-origin: top center;
	transform: rotate(3deg);
	animation: swing 2s infinite;
}

#steamL {
	stroke-dasharray: 13;
	stroke-dashoffset: 13;
	animation: steamLarge 2s infinite;
}

#steamR {
	stroke-dasharray: 9;
	stroke-dashoffset: 9;
	animation: steamSmall 2s infinite;
}

@keyframes swing {
	50% {
		transform: rotate(-3deg);
	}
}

@keyframes steamLarge {
	0% {
		stroke-dashoffset: 13;
		opacity: 0.6;
	}
	100% {
		stroke-dashoffset: 39;
		opacity: 0;
	}
}

@keyframes steamSmall {
	10% {
		stroke-dashoffset: 9;
		opacity: 0.6;
	}
	80% {
		stroke-dashoffset: 27;
		opacity: 0;
	}
	100% {
		stroke-dashoffset: 27;
		opacity: 0;
	}
}
